<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<title>驰达家维</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/font-awesome.css">
<script type="text/javascript" src="__PUBLIC__/Service/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(function(){
	//时间轴
	$('.charge_nav li').hover(function(){
		$(this).find('.charge_dl').slideDown(100);
	},function(){
		$(this).find('.charge_dl').slideUp(100);
	});
});
</script>

<body>
<!--顶部-->

<div class="top">
	<div class="cent">
		<div class="logo"><img src="__PUBLIC__/Service/images/foot_logo.png" /></div>
	<!--	<div class="pintai"><p>全国联保唯一指定官方服务平台</p></div>-->
	</div>   
</div>    

<div class="nav">
	<div class="cent">
		<div class="menu">
			<li><a href="{:U('Lianbao_PC/STakingOrder/index')}">接单区</a></li>
			<li><a href="{:U('Lianbao_PC/SMyOrder/wait_send')}">我的订单</a></li>
			<li><a href="{:U('Lianbao_PC/SWallet/index')}">我的财务</a></li>
			<li><a href="{:U('Lianbao_PC/SMember/index')}">我的成员</a></li>
			<li><a href="{:U('Lianbao_PC/SNotification/index')}">通知管理</a></li>
			<li><a href="{:U('Lianbao_PC/Spolicy/policy')}">政策规章</a></li>
			<li  class="mover"><a href="{:U('Lianbao_PC/SCharge/index')}">收费标准</a></li>
			<li><a href="{:U('Lianbao_PC/SOwnMess/index')}">个人中心</a></li>
		</div>
		<div class="user">
			<li><p>1325121703@qq.com</p></li>
			<li><p><a href="{:U('Lianbao_PC/ServiceBase/login_out')}">安全退出</a></p></li>
		</div>
	</div>
</div>

<div class="main">
	<div class="charge_list">
		<!--<h1>收费标准</h1>-->
		<div class="charge_nav">

			<foreach name="list" item="vo">
			<li><a>{$vo.0}</a>
				<div style="display: none;"   class="charge_dl">
					<foreach name="vo.product" item="vo">
						<dl><a href="javascript:void(0);" onclick="a(this)" class="{$vo.pinlei}" name="{$vo.0}">{$vo.0}</a></dl>
					</foreach>
				</div>
			</li>
			</foreach>
		</div>
					
		<div class="charge_show">
			<div class="show_nav">
				<li>品类</li>
				<li>型号</li>
				<li>服务项目（大）</li>
				<li>工单类型</li>
				<li>保内价格</li>
				<li>服务内容</li>
			</div>
			<div id="test" >
			{$str}
			</div>
		</div>
	</div>
</div>


<include file="./public/Service/Sfooter.html"/>

<script>
	function a(ob){
		var z_pinlei  = $(ob).attr('class');
		var z_product = $(ob).attr('name');
		var action  = "{:U('Lianbao_PC/SCharge/change')}";
		$.post(action,{pinlei:z_pinlei,product:z_product},function(data){
			$('#test').html(data);

		})

	}

</script>

</body>
</html>