.user_login{ width:1200px; height:auto; display:block; overflow:hidden; margin:72px 0px 20px; padding:50px; box-sizing:border-box; background:#fff;
}
.user_login h1{ font-size:22px; line-height:30px; padding:0px 0px 5px 0px; border-bottom:2px solid #ccc; color:#444; 
}
.user_login span{ font-weight:400; padding:0px 0px 0px 5px; line-height:25px; margin:0px 0px 0px 10px; color: #999;
}
.user_login strong{ float:right; color:#999; font-weight:300;font-size: 16px!important; letter-spacing: 1px;
}
.user_login strong b{ font-weight: 300;
}
.user_login i{ font-size:24px; margin:0px 8px;color:#ffd202; font-style:italic;
}




.login{ width:500px; display:block; overflow:hidden; margin:50px auto;
}
.login input{ width:300px; line-height:40px; padding:2px 5px 2px 50px; margin:0px 0px 30px; border:1px solid #bdb59e; border-radius:4px;
}



/* ::::: http://www.szlb.net/templets/default/style/reset1.css ::::: */

audio:not([controls]) { display: none; height: 0px; }
body { font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); margin: 0px; font-family: "Microsoft Yahei","SimHei",Arial; background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
img { border: medium none; }
h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin: 20px 0px 10px; }
h2 { font-size: 1em; }
h3 { font-size: 1.17em; }
p { margin: 0px 0px 10px; color: #999;}
b, strong { font-weight: bold; }
small { font-size: 80%; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
ul, ol { margin: 0px; padding: 0px; list-style-type: none; }
a { text-decoration: none; }
a:active, a:hover { text-decoration: underline; }
a:focus { outline: 0px none; outline-offset: 0px; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
.fix  {  }
.fix::after { display: table; content: ""; clear: both; }
.container { width: 1100px; margin-left: auto; margin-right: auto; position: relative; line-height: 30px; min-width: 980px; }
.res-bg { display: none; }
.list li h4 a{ color: #a80202;}
.head { border-top: 1px solid rgb(229, 229, 229); padding: 25px 0px; min-width: 980px; }
.head .logo { float: left; }
.head .logo a, .head .logo div, .head .logo p { float: left; }
.head .logo a, .head .logo p { padding-top: 10px; }
.head .logo div { width: 2px; height: 80px; margin: 0px 20px; background: transparent url('v-line.png') no-repeat scroll left center; }
.head .logo p { font-size: 18px; font-weight: 600; color: rgb(68, 68, 68); letter-spacing: 1px; }
.head .logo p small { font-size: 16px; color: rgb(51, 51, 51); letter-spacing: 0px; }
.head .logo p small span { color: rgb(237, 101, 0); }
.head .tel { float: right; padding-top: 10px; }
.head .tel p { font-size: 12px; }

.copyright { height: 30px; line-height: 30px; background-color: rgb(17, 17, 17); color: rgb(153, 153, 153); font-size: 12px; min-width: 980px; }
.copyright p { float: left; }
.copyright a { color: rgb(153, 153, 153); padding: 0px 3px; }
.copyright a:hover { color: rgb(204, 204, 204); }
.copyright span { float: right; color: rgb(153, 153, 153); }
.service { position: fixed; right: 0px; top: 50%; margin-top: -120px; z-index: 99; }
.service ul { width: 53px; }
.service .item { display: inline-block; width: 53px; height: 53px; margin-bottom: 1px; background: rgb(141, 141, 141) url('icon.png') no-repeat scroll 0% 0%; cursor: pointer; float: left; }
.service .item:hover { background-color: rgb(176, 176, 176); }
.service .item.qq { background-position: 0px -26px; }
.service .item.qq a, .service .item.weibo a { display: inline-block; width: 100%; height: 100%; }
.service .item.weixin { background-position: -106px -26px; position: relative; }
.service .item.weixin div { display: none; width: 140px; background: rgb(176, 176, 176) none repeat scroll 0% 0%; text-align: center; position: absolute; left: -150px; top: 0px; }
.service .item.weixin div img { margin-top: 10px; width: 120px; }
.service .item.weixin div h3 { color: rgb(255, 255, 255); margin: 5px 0px 10px; font-size: 12px; }
.service .item.weixin:hover div { display: block; }
.service .item.phone { background-position: -159px -26px; position: relative; }
.service .item.phone p { background-color: rgb(176, 176, 176); width: 160px; position: absolute; left: -170px; top: 0px; padding: 5px 20px; color: rgb(255, 255, 255); display: none; }
.service .item.phone:hover p { display: block; }
.service .item.to-top { background-position: -212px -26px; display: none; }
.big-title { margin: 0px; font-size: 60px; font-weight: bold; color: rgb(0, 142, 196); text-align: center; padding-top: 50px; text-transform: uppercase; }
.small-title { margin-top: 10px; font-size: 30px; color: rgb(136, 136, 136); text-transform: uppercase; text-align: center; position: relative; }
.small-title .s-line { position: absolute; width: 100%; display: block; z-index: 2; background: transparent url('s-line.png') no-repeat scroll 0% 0%; }
/* ::::: http://www.szlb.net/templets/default/style/wangdian.css ::::: */

.wangdian { background: transparent url(../images/bg-low-gray3.jpg) no-repeat scroll center top / 100% auto; min-width: 980px; }
.wangdian .crumbs { font-size: 12px; height: 50px; line-height: 50px; color: rgb(51, 51, 51); }
.wangdian .crumbs a { padding: 0px 3px; color: rgb(51, 51, 51); }
.wangdian .big-title { padding-top: 10px; }
.wangdian .small-title { font-size: 24px; }
.wangdian .small-title .s-line { height: 3px; background-position: center -14px; bottom: -10px; }
.wangdian .type {  }
.wangdian .content {  }
.wangdian .content .up { border-bottom: 1px solid rgb(204, 204, 204); position: relative; padding-top: 30px; }
.wangdian .content .up h3 { width: 15%; padding-bottom: 3px; border-bottom: 2px solid rgb(0, 154, 213); text-transform: uppercase; font-weight: bold; font-size: 20px; height: 30px; margin: 0px; position: absolute; left: 0px; bottom: -2px; text-align: center; color: rgb(0, 154, 213); }
.wangdian .content .up h3 em { display: inline-block; width: 13px; height: 12px; background: transparent url(../images/icon.png/) no-repeat scroll -266px -252px; position: absolute; top: 50%; margin-top: -10px; left: 20px; }
.wangdian .content .up h3 span { font-size: 16px; font-weight: normal; }
.wangdian .content .list { border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); }
.wangdian .content .list li { padding: 15px; border-bottom: 1px solid rgb(204, 204, 204);}
.wangdian .content .list li:hover { background: rgb(233, 244, 250) none repeat scroll 0% 0%! ; }
.wangdian .pages { text-align: center; padding: 40px 0px; margin-bottom: 30px; border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-bottom: 1px solid rgb(204, 204, 204); }
.wangdian .pages ol { display: inline-block; }
.wangdian .pages ol li { display: inline-block; float: left; margin: 0px 4px; }
.wangdian .pages ol li a { color: rgb(51, 51, 51); padding: 2px 5px; margin: 0px 0px 0px 5px; background: rgb(238, 238, 238) ; font-size: 14px; border-radius: 3px;   border:1px solid #ccc;}
.wangdian .pages ol li div span{ color: #ff0000; padding: 2px 5px; margin: 0px 0px 0px 5px; background: rgb(238, 238, 238) ; border-radius: 3px; border:1px solid #ccc;}
.wangdian .pages ol li a:hover { background: rgb(229, 229, 229) none repeat scroll 0% 0%; }
#nativeplace_top, #nativeplace_son, #nativeplace_sec { width: 180px; height: 35px;  font-weight: bold; color: rgb(102, 102, 102); margin-top: 12px; }
#nativeplace_top, #nativeplace_son, #nativeplace_sec select { padding-left: 15px; }
span.infosearchtxt { font-size: 20px; color: rgb(255, 255, 255); font-weight: bold; }
.container .btn-3 { height: 35px; padding: 0px 25px; font-size: 18px; background-color: rgb(255, 133, 0); margin-top: 12px; color: rgb(255, 255, 255); border: 0px none; }
.bor { border: 1px solid rgb(204, 204, 204); background-color: rgb(0, 112, 177); height: 60px; overflow: hidden; }
/* ::::: http://s.qiao.baidu.com/style/97/120667097/1/main.css?v=2015072220160125 ::::: */

#qiao-wrap, #qiao-wrap ins, #qiao-wrap input, #qiao-wrap textarea, #qiao-wrap a, #qiao-fixed-wrap, #qiao-fixed-wrap ins, #qiao-fixed-wrap a, #BDBridgeFixedWrap, #BDBridgeFixedWrap ins, #BDBridgeFixedWrap a, #BD_QIAO_WEBIM_LITE_WRAP a { width: auto; height: auto; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; border: medium none; color: rgb(0, 0, 0); direction: ltr; letter-spacing: normal; line-height: normal; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: normal; font-size: 12px; font-family: Tahoma,"宋体",Helvetica,sans-serif; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: inherit; visibility: inherit; overflow: visible; list-style: outside none none; float: none; clear: none; position: static; top: auto; left: auto; vertical-align: baseline; box-sizing: content-box; }
#qiao-wrap ins, #qiao-fixed-wrap ins, #BDBridgeFixedWrap ins { display: block; }
#qiao-wrap a, #qiao-fixed-wrap a, #BDBridgeFixedWrap a, #BD_QIAO_WEBIM_LITE_WRAP a { display: inline; }
ins#qiao-invite-wrap { visibility: visible ! important; position: fixed; width: 310px; height: 144px; top: 50%; left: 50%; margin: -72px 0px 0px -155px; background: transparent url('03.png') repeat scroll 0% 0%; border-radius: 5px; z-index: 2147483647; }
#qiao-invite-wrap .qiao-invite-decoration { display: none; position: absolute; top: 5px; left: 5px; width: 98px; height: 128px; border: 2px solid rgb(255, 255, 255); background: transparent url('01_big.png') repeat scroll 0px 0px; }
#qiao-invite-wrap .qiao-invite-text { position: absolute; top: 50%; left: 115px; padding-right: 18px; }
#qiao-invite-wrap .qiao-invite-close { position: absolute; width: 10px; height: 10px; top: 5px; right: 5px; z-index: 100; cursor: pointer; background: transparent url('btn.png') repeat scroll -19px -63px; }
#qiao-invite-wrap .qiao-invite-reject { position: absolute; width: 80px; height: 25px; bottom: 5px; right: 90px; line-height: 25px; color: rgb(102, 102, 102); text-align: center; border: 1px solid rgb(204, 204, 204); cursor: pointer; background: transparent -moz-linear-gradient(center top , rgb(243, 243, 243), rgb(224, 224, 224)) repeat scroll 0% 0%; }
#qiao-invite-wrap .qiao-invite-accept { position: absolute; bottom: 5px; right: 5px; width: 80px; height: 25px; line-height: 25px; color: rgb(0, 0, 0); text-align: center; border: 1px solid rgb(114, 146, 179); cursor: pointer; background: rgb(32, 108, 211) none repeat scroll 0% 0%; }
#qiao-invite-wrap .qiao-invite-form { display: none; position: absolute; bottom: 0px; left: 0px; width: 100%; padding: 5px 0px; overflow: hidden; background: rgb(214, 227, 240) none repeat scroll 0% 0%; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#qiao-invite-wrap .qiao-invite-form-inner { position: relative; padding-left: 5px; padding-right: 60px; overflow: hidden; }
#qiao-invite-wrap .qiao-invite-input { display: block; width: 100%; height: 32px; padding: 2px; outline: medium none; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#qiao-invite-wrap .qiao-invite-send { position: absolute; top: 0px; right: 5px; width: 40px; height: 36px; line-height: 36px; background: rgb(176, 203, 229) none repeat scroll 0% 0%; border: 1px solid rgb(96, 149, 198); color: rgb(0, 0, 0); text-align: center; cursor: pointer; }
.clearfix::before, .clearfix::after { content: ""; display: table; }
.clearfix::after { clear: both; }
ins#qiao-mess-wrap { visibility: visible ! important; position: fixed; bottom: 0px; z-index: 2147483647; left: 0px; }
#qiao-mess-wrap .qiao-mess-star { color: red; display: inline; }
.qiao-mess-wrap form, .qiao-mess-wrap input { line-height: normal; font-size: 12px; font-weight: normal; margin: 0px; padding: 0px; text-decoration: none; outline: medium none; font-family: Arial; text-align: left; overflow: visible; position: static; width: auto; height: auto; text-indent: 0px; clear: none; background-color: transparent; box-sizing: content-box; border: medium none; display: block; }
#qiao-mess-wrap a, .qiao-mess-wrap .qiao-mess-item-body { height: 20px; line-height: 20px; }
#qiao-mess-wrap iframe { display: none; }
#qiao-mess-wrap .qiao-mess-container { background-color: rgb(245, 245, 245); width: 256px; bottom: 0px; left: 0px; display: block; cursor: default; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(51, 153, 204) rgb(51, 153, 204); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px 4px 0px 0px; }
#qiao-mess-wrap form { padding: 8px 0px 8px 8px; }
#qiao-mess-wrap .qiao-mess-head { border-radius: 4px 4px 0px 0px; padding: 3px 9px 5px; width: auto; display: block; height: 21px; }
#qiao-mess-wrap .qiao-mess-head-text { float: left; font-weight: bold; width: 61px; height: 21px; background: transparent url('mess-text.png') no-repeat scroll 0% 0%; }
#qiao-mess-wrap .qiao-mess-head-close { float: right; background: transparent url('messbtn.png') repeat scroll 0px 0px; width: 19px; height: 19px; }
#qiao-mess-wrap .qiao-mess-body { overflow-y: scroll; overflow-x: hidden; width: auto; padding-left: 10px; margin-right: 10px; max-height: 242px; }
#qiao-mess-wrap .qiao-mess-item-mess textarea { display: block; float: left; height: 92px; font-size: 12px; padding-top: 2px; width: 194px; border: 1px solid rgb(204, 204, 204); background-color: rgb(255, 255, 255); }
#qiao-mess-wrap .qiao-mess-item { margin: 8px 16px 0px 0px; border: 1px solid rgb(204, 204, 204); display: block; }
#qiao-mess-wrap .qiao-mess-input-wrap { overflow: hidden; }
#qiao-mess-wrap .qiao-mess-item:hover { border-color: rgb(153, 153, 153); }
#qiao-mess-wrap .qiao-mess-item:hover .qiao-mess-item-head { color: rgb(0, 0, 0); }
#qiao-mess-wrap .qiao-mess-item-head { color: rgb(102, 102, 102); float: left; border-right: 1px solid rgb(204, 204, 204); padding: 0px 4px; background: transparent url('mess.gif') repeat scroll 0% 0%; line-height: 20px; height: 20px; }
#qiao-mess-wrap .qiao-mess-item-body { float: left; width: 100%; background-color: rgb(255, 255, 255); cursor: text; height: 20px; line-height: 20px; }
#qiao-mess-wrap .qiao-mess-head-close:hover { background: transparent url('messbtn.png') repeat scroll -19px 0px; }
#qiao-mess-wrap .qiao-mess-head-close:active { background: transparent url('messbtn.png') repeat scroll -38px 0px; }
#qiao-mess-wrap .qiao-mess-foot { width: auto; padding: 0px 8px; }
#qiao-mess-wrap .qiao-mess-foot-send-btn { width: 91px; height: 23px; line-height: 23px; opacity: 1; border-radius: 6px; text-align: center; background: rgb(51, 153, 204) none repeat scroll 0% 0%; cursor: pointer; margin: 0px auto; font-weight: bold; }
#qiao-mess-wrap .qiao-mess-foot-send-btn:hover { background-color: rgb(51, 153, 204); opacity: 0.6; }
#qiao-mess-wrap .qiao-mess-foot-logo { width: 66px; height: 17px; margin: 5px auto 0px; padding-top: 5px; text-align: center; background: transparent url('btn_001.png') repeat scroll -88px -72px; }
#qiao-mess-wrap.qiao-mess-wrap-min .qiao-mess-container { overflow: hidden; }
#qiao-mess-wrap.qiao-mess-wrap-min .qiao-mess-head-close, #qiao-mess-wrap.qiao-mess-wrap-min .qiao-mess-body, #qiao-mess-wrap.qiao-mess-wrap-min .qiao-mess-foot { display: none; }
#qiao-mess-wrap .qiao-mess-container { background-color: rgb(245, 245, 245); border-color: rgb(51, 153, 204); }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-head { background-color: rgb(51, 153, 204); }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-head-text {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-head-close {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-head-close:hover {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-head-close:active {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-foot-send-btn { display: block; }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-foot-send-btn:hover {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-foot-send-btn:active {  }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-body {  }
#qiao-mess-wrap .qiao-mess-container textarea { width: 194px; }
#qiao-mess-wrap .qiao-mess-container .qiao-mess-foot-logo {  }
/* ::::: http://qiao.baidu.com/v3/asset/front/css/fix.css?t=1461722433960 ::::: */

#qiao-invite-wrap { position: fixed; }
#qiao-flash-storage { position: fixed; width: 1px; height: 1px; bottom: 0px; left: 0px; }
#qiao-wrap { display: block; }
#qiao-invite-wrap { overflow: hidden ! important; }
#qiao-invite-wrap .qiao-invite-text p, #qiao-invite-wrap .qiao-invite-text span, .qiao-mess-wrap form { width: auto; height: auto; margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; border: medium none; color: rgb(0, 0, 0); direction: ltr; letter-spacing: normal; line-height: normal; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; white-space: normal; word-spacing: normal; font-size: 12px; font-family: Tahoma,"宋体",Helvetica,sans-serif; font-size-adjust: none; font-stretch: normal; font-style: normal; font-variant: normal; font-weight: inherit; visibility: inherit; overflow: visible; list-style: outside none none; float: none; clear: none; position: static; top: auto; left: auto; vertical-align: baseline; box-sizing: content-box; }
#qiao-wrap::before, #qiao-wrap::after, #qiao-wrap ins::before, #qiao-wrap ins::after, #qiao-wrap a::before, #qiao-wrap a::after, #qiao-wrap input::before, #qiao-wrap input::after, #qiao-wrap textarea::before, #qiao-wrap textarea::after, #qiao-fixed-wrap::before, #qiao-fixed-wrap::after, #qiao-fixed-wrap ins::before, #qiao-fixed-wrap ins::after, #qiao-fixed-wrap a::before, #qiao-fixed-wrap a::after, #BDBridgeFixedWrap::before, #BDBridgeFixedWrap::after, #BDBridgeFixedWrap ins::before, #BDBridgeFixedWrap ins::after, #BDBridgeFixedWrap a::before, #BDBridgeFixedWrap a::after { content: ""; }
#qiao-mess-wrap .qiao-mess-clearfix::before, #qiao-mess-wrap .qiao-mess-clearfix::after { content: ""; display: table; }
#qiao-mess-wrap .qiao-mess-clearfix::after { clear: both; }
#qiao-mess-wrap .qiao-mess-clearfix {  }
#qiao-invite-wrap .qiao-invite-text p { display: block; }
/* ::::: http://qiao.baidu.com/v3/asset/css/m-webim-lite.css?v=20150613 ::::: */

.active { background-color: rgb(255, 133, 0); }
.waian{ width: 400px; padding: 10px 10px; border-radius: 5px 0px 0px 5px; border:1px solid #ccc; margin: 15px 0px 0px 300px;
}
input:focus{ outline: none;}
.chaxin{ width: 120px; padding: 10px 10px;border-radius:0px 5px 5px 0px;  border:1px solid #ccc; margin: 15px 0px 0px -10px; background: #ff0000; color: #fff;  height: 38px;  }