.right_top2 p{ margin: 0px; padding: 0px;color: #000; font-size: 14px; line-height: 28px!important;}
.right_top2 span{margin: 0px; padding: 0px; color:#000;text-align: left!important;}
.zh{color: #333;margin: 20px 70px 10px;font-size: 20px!important;}
.wz{text-align: left;color: #333;font-weight: 400!important;
}
.con{ width: 500px;margin-left: auto; margin-right: auto;line-height: 30px;min-width: 500px;}