<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" media="all" href="__PUBLIC__/Lianbao_PC/style.css">
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Lianbao_PC/js/jquery.leanModal.min.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/fadancp.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/goumaidl.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiaofeimx.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set_yhkgl.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set_mmsz.css">


<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>


			<div class="user_right">
				<div class="anzhuang">
					<div class="middle_inner_right">
						<div class="middle_inner_right">
							<div class="guide">
								<ul>
									<li class=""><a href="{:U('Lianbao_PC/SetUp/index')}">基本资料设置</a></li>
									<li class=""><a href="{:U('Lianbao_PC/SetUp/id_card')}">银行卡管理</a></li>
									<li class=""><a href="{:U('Lianbao_PC/SetUp/address')}">收货地址管理</a></li>
									<li class="unique  selected"><a href="{:U('Lianbao_PC/SetUp/set_password')}">密码设置</a></li>
								</ul>
							</div>


							<div class="news_show">
								<div class="pass">
									<div class="pass_left">
										<ul>
											<li class="one"><font class="font_grey">登陆密码</font><font class="font_green">已设置</font></li>
											<li class="two">安全性高的密码可以使账号更安全</li>
										</ul>
									</div>
									<a href="#loginmodal" id="modaltrigger" class="pass_right theme-login2">修改</a></div>
								<div class="pass">
									<div class="pass_left">
										<ul>
											<li class="one"><font class="font_grey">支付密码</font><font class="font_green">已设置</font></li>
											<li class="two">安全性高的密码可以使账号更安全</li>
										</ul>
									</div>
									<a href="#lose_password" id="modaltrigger_three" class="pass_right forget_pass">忘记密码？</a><a href="#xg_pay_password" class="pass_right pass_zhifu" id="modaltrigger_two">修改</a></div>
									
									
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>

	<div id="loginmodal" style="display:none;width:480px;height:440px;padding:20px;">
		<div style="height:35px;font-size:16px;color:red;border-bottom:1px solid red;margin-top:20px;padding-left:20px;" >登陆密码修改</div>
		<form  id="ac_xg_pass" action="{:U('Lianbao_PC/SetUp/xg_password')}" method="post">
			<div style="width:480px;height:55px;margin-top:30px;line-height:55px">
				<div style="width:150px;text-align:right;float:left">原始登陆密码：
				</div>
				<div style="height:55px;line-height:55px;"><input id="xg_pass_old" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" value="" name="password"></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">新密码：</div>
				<div style="height:55px;line-height:55px;"><input id="xg_pass_new" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" value="" name="new_password"></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">重复新密码：</div>
				<div style="height:55px;line-height:55px;"><input style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" name="pass" value="" id="xg_pass_new_two"></div>
			</div>
			<div style="width:200px;float:left;margin-top:20px;">
				<input type="button" value="确定" id="xg_pass" style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
			<div style="width:150px;float:left;margin-top:20px;">
				<input type="button" value="取消" id="cancel_one" onclick="cancel()"  style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
		</form>
	</div>

	<div id="xg_pay_password" style="display:none;width:480px;height:440px;padding:20px;background:#f3f6fa">
		<div style="height:35px;font-size:16px;color:red;border-bottom:1px solid red;margin-top:20px;padding-left:20px;" >支付密码修改</div>
		<form  id="ac_xg_pay_pass" action="{:U('Lianbao_PC/SetUp/xg_pay_pass')}" method="post">
			<div style="width:480px;height:55px;margin-top:30px;line-height:55px">
				<div style="width:150px;text-align:right;float:left">原密码：
				</div>
				<div style="height:55px;line-height:55px;"><input  id="pay_pass_old" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" value="" name="password"></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">新密码：</div>
				<div style="height:55px;line-height:55px;"><input  id="pay_pass_new" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" value="" name="new_password"></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">重复新密码：</div>
				<div style="height:55px;line-height:55px;"><input style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" name="pass" value="" id="pay_pass_two"></div>
			</div>
			<div style="width:200px;float:left;margin-top:20px;">
				<input type="button" value="确定" id="button_two" style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
			<div style="width:150px;float:left;margin-top:20px;">
				<input type="button" value="取消" id="cancel_two" onclick="cancell()" style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
		</form>
	</div>

		<div id="lose_password" style="display:none;width:480px;height:440px;padding:20px;background:#f3f6fa">
		<div style="height:35px;font-size:16px;color:red;border-bottom:1px solid red;margin-top:20px;padding-left:20px;" >支付密码修改</div>
		<form  id="ac_xg_pay_pass" action="{:U('Lianbao_PC/SetUp/lose_password')}" method="post">
			<div style="width:480px;height:55px;margin-top:30px;line-height:55px">
			<div style="width:150px;text-align:right;line-height:55px;float:left">新密码：</div>
				<div  class="co"><a href="javascript:;"  id="yangz">获取验证码</a><b>&nbsp;</b></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">验证码：</div>
				<div style="height:55px;line-height:55px;"><input name="vcode"  id="pay_pass_new" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="text" value="" name="new_password"></div>
			</div>
			<input type="hidden" name="username" value="{$username.username}" id="username">
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">新密码：</div>
				<div style="height:55px;line-height:55px;"><input name="password"  id="pay_pass_new" style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" value="" name="new_password"></div>
			</div>
			<div style="height:55px;" >
				<div style="width:150px;text-align:right;line-height:55px;float:left">重复新密码：</div>
				<div style="height:55px;line-height:55px;"><input style="height:30px;width:200px;margin-top:12px;border:1px solid #DCDCDC;background:#f3f6fa;" type="password" name="re_password" value="" id="pay_pass_two"></div>
			</div>
			<div style="width:200px;float:left;margin-top:20px;">
				<input type="submit" value="确定" id="button_two" style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
			<div style="width:150px;float:left;margin-top:20px;">
				<input type="button" value="取消" id="cancel_two" onclick="cancellll()" style="width:110px;height:40px;line-height:40px;text-align:center;background:#DB1C21;float:right;font-size:14px;color:#fff;">
			</div>
		</form>
	</div>
	

	<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
 <script type="text/javascript">
    var wait=60;
    function time(o) {
            if (wait == 0) {      
                  $(".co a").css("display","block");
                  $(".co b").css("display","none");
                wait = 60;
            } else {
                $(".co a").css("display","none");
                $(".co b").css("display","block");
                $(".co b").html("<red>重新发送 (" + wait + ")</red>");
                wait--;
                setTimeout(function() {
                    time(o)
                },
                1000);
            }
        }
    document.getElementById("yangz").onclick=function(){time(this);}
	
	
		$('#yangz').on('click', function(){
		var username = $('#username').val();
		var action   = "{:U('Lianbao_PC/Login/send_info')}";
		$.post(action,{mobile:username},function(data){
			if(data==1){
				alert('发送成功');
			}
			if(data==2){
				alert('请输入正确的手机号');
			}
			if(data==3){
				alert('账户不存在，请核对后在输入');
			}
			if(data==4){
				alert('不能连续点击');
			}
			if(data==5){
				alert('失败');
			}
			if(data==6){
				alert('发送失败');
			}
		})

	});
	
	
	
</script>
	<script type="text/javascript">
		$(function(){
			$('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
			$('#modaltrigger_two').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
			$('#modaltrigger_three').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
			$('#xg_pass').click(function(){
				var  action   = $('#ac_xg_pass').attr('action');
				var  xg_pass  = $('#xg_pass_old').val();
				var  xg_pass_new  = $('#xg_pass_new').val();
				var  xg_pass_new_two  = $('#xg_pass_new_two').val();
				if(xg_pass==''){
					alert('密码不能为空');
					return;
				}
				if(xg_pass_new==''){
					alert('新密码不能为空');
					return;
				}
				if(xg_pass_new!==xg_pass_new_two){
					alert('两次密码不一致');
					return;
				}


				$.post(action,{password:xg_pass,new_password:xg_pass_new},function(data){
					if(data==1){
						alert('账号密码不匹配');
						return false;
					}
					if(data==0){
						alert('修改成功');window.location.href="{:U('Lianbao_PC/SetUp/set_password')}";
					}
					if(data==2){
						alert('新增失败');
					}
				})

			})

			$('#button_two').click(function(){
				var  action = $('#ac_xg_pay_pass').attr('action');
				var  xg_pass  = $('#pay_pass_old').val();
				var  xg_pass_new  = $('#pay_pass_new').val();
				var  xg_pass_new_two  = $('#pay_pass_two').val();
				if(xg_pass==''){
					alert('密码不能为空');
					return;
				}
				if(xg_pass_new==''){
					alert('新密码不能为空');
					return;
				}
				if(xg_pass_new!==xg_pass_new_two){
					alert('两次密码不一致');
					return;
				}
				$.post(action,{password:xg_pass,new_password:xg_pass_new},function(data){
					if(data==1){
						alert('账号密码不匹配');
						return false;
					}
					if(data==0){
						alert('修改成功');window.location.href="{:U('Lianbao_PC/SetUp/set_password')}";
					}
					if(data==2){
						alert('新增失败');
					}
				})

			})


		});
		function cancel(){
			$('#loginmodal').hide();
			$('#lean_overlay').hide();
		}
		function cancell(){
			$('#xg_pay_password').hide();
			$('#lean_overlay').hide();
		}
		function cancellll(){
		$('#lose_password').hide();
			$('#lean_overlay').hide();
		}
	</script>
<script>
	$('#h_h').addClass('hve');
</script>
	</body></html>