
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/font-awesome.css">
<script type="text/javascript" src="__PUBLIC__/Service/js/layer.js"></script>
<style>
	#Myown{ background: #860404;
	}
</style>
<include file="./public/Service/Sheader.html"/>
<div class="user_right">
	<div class="postian"><p>账号设置＞<a href="index.html">基本信息</a></p></div>
	<div class="basic">
		<div class="bas_nav">
			<li class="hove"><a href="{:U('Lianbao_PC/SOwnMess/index')}">基本资料</a></li>
			<li><a href="{:U('Lianbao_PC/SOwnMess/setting')}">安全设置</a></li>
			<li><a href="{:U('Lianbao_PC/SOwnMess/address')}">收货地址</a></li>
			<!-- <li><a href="{:U('Lianbao_PC/SOwnMess/business')}">业务信息</a></li> -->
		</div>
		<div class="bas_list">
			<!--<h1>基本资料</h1>-->
			<li><b>账号名称：</b>{$user.username}</li>
			<li><b>法人姓名：</b>{$user.rel_name}</li>
			<li><b>身份证号：</b>{$user.id_card}</li>
			<li><b>公司名称：</b>{$user.company}</li>
			<li><b>信息跟进手机：</b>{$user.phone} <span><a href="javascript:;" id="tel" onclick="openLayer('tel','layer_tel')" >修改</a></span></li>
			<li><b>邮箱：</b>{$user.email}<span><a href="javascript:;" id="email" onclick="openLayer('email','layer_email')">修改</a></span></li>
			<li><b>公司地址：</b>{$user.com_address} <span><a href="javascript:;" id="address" onclick="openLayer('address','layer_address')">修改</a></span></li>
			<li><b>QQ：</b>{$user.qq}  <span><a  href="javascript:;" id="qq" onclick="openLayer('qq','layer_qq')">修改</a></span></li>
			<li><b>营业执照：</b><a ><img id="img1" src="{$user.business_license}" /></a><span><a href="javascript:;" id="licence" onclick="openLayer('licence','layer_licence')">上传图片</a></span></li>

			<li><b>tax登记证：</b><a ><img id="img2" src="{$user.tax_regis}" /></a><span><a href="javascript:;" id="tax" onclick="openLayer('tax','layer_tax')">上传图片</a></span></li>

			<li><b>特殊资质证：</b><a ><img id="img3" src="{$user.special_regis}" /></a><span><a href="javascript:;" id="certificate" onclick="openLayer('certificate','layer_certificate')">上传图片</a></span></li>
		</div>
	</div>
</div>
</div>
<include file="./public/Service/Sfooter.html"/>

<!--修改信息跟进手机-->
<div id="layer_tel" style="display:none" >

	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>修改信息跟进手机</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_phone')}" method="post">
			<div class="telphone">
				<h6>手机号码：<input type="text" name="phone" value="{$user.phone}" /> </h6>
			</div>
			<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>

</div>
<!--修改邮箱-->
<div id="layer_email" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>修改邮箱</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_email')}" method="post">
			<div class="telphone">
				<h6>邮箱：<input name="email" type="text" value="{$user.email}" /> </h6>
			</div>
			<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>
</div>
<!--修改公司地址-->
<div id="layer_address" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>修改公司地址</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_address')}" method="post">
			<div class="telphone">
				<h6>公司地址：<input type="text" name="address" value="{$user.com_address}" /> </h6>
			</div>
			<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>
</div>
<!--修改QQ-->
<div id="layer_qq" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>修改QQ</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_qq')}" method="post">
			<div class="telphone">
				<h6>QQ：<input type="text" name="qq" value="{$user.qq}" /> </h6>
			</div>
			<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>
</div>

<!--上传营业执照-->
<div id="layer_licence" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>上传营业执照</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_business_license')}" method="post" enctype="multipart/form-data">
			<div class="layer_upload">
				<h4>请上传图片</h4>
				<input type="file" name="business_license"/>
				<p>请上传JPG或者PNG格式，大小不超过2M。</p>
			</div>
			<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>
</div>

<!--上传税务登记证-->
<div id="layer_tax" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>上传税务登记证</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_tax_regis')}" method="post" enctype="multipart/form-data">
		<div class="layer_upload">
			<h4>请上传图片</h4>
			<input type="file" name="tax_regis"/>
			<p>请上传JPG或者PNG格式，大小不超过2M。</p>
		</div>
		<div class="ensure"><input type="submit" value="确 定"></div>
			</form>
	</div>
</div>

<!--上传特殊资质证-->
<div id="layer_certificate" style="display:none" >
	<div class="layer_show">
		<div class="layer_top">
			<div class="layer_title"><p>上传特殊资质证</p></div>
			<div class="tel_colse" onclick="closeLayer()"><a href="javascript:;"><img  src="__PUBLIC__/Service/images/close.png" /></a></div>
		</div>
		<form action="{:U('Lianbao_PC/SOwnMess/modify_special_regis')}" method="post" enctype="multipart/form-data">
		<div class="layer_upload">
			<h4>请上传图片</h4>
			<input type="file" name="special_regis"/>
			<p>请上传JPG或者PNG格式，大小不超过2M。</p>
		</div>
		<div class="ensure"><input type="submit" value="确 定"></div>
		</form>
	</div>
</div>

</body>
</html>