<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/fadancp.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/goumaidl.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiaofeimx.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/chongzhi.css">

<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>

		<div class="user_right">
          <div class="anzhuang">
         <div class="middle_inner_right">
      <div class="gd_list">
        <li class="move"><a href="{:U('Lianbao_PC/RechargMoney/index')}">我要充值</a></li>

       
      </div>


			 {$list.post_content}
	  
	  
	  
		</div>
	</div>
</div>   
</div>
</div>   
<div class="footer">
	<div class="wmain">
    	<div class="fl foot_logo"><img src="__PUBLIC__/Lianbao_PC/images/foot_logo.png" alt=""></div>
        <div class="fr">
        	<p class="footmenu">
			<a href="/">首页</a> 
			  丨<a href="#">平台优势</a> 丨<a href="#">新手指导</a> 丨<a href="#">新手指导</a> 丨<a href="#">合作单位</a> 丨<a href="#">新手指导</a> 丨<a href="#">新手指导</a> 丨<a href="#">关于我们</a>			</p>
			<style>
			#cnzz_stat_icon_1254126836 {
				float:right;
				margin:6px 0 0 10px;
			}
			</style>
			
            <p class="word">
	<i class="banquan_china">版权所有 达州</i> Copyright ? 2016 dazhou.cn All rights reserved.<i>蜀ICP备13012949号</i> 
</p>        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    $('#i_i').addClass('hve');
</script>

</body></html>