<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<title>驰达家维</title>
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link href="__PUBLIC__/Lianbao_PC/address/css/main.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Lianbao_PC/address/css/city-picker.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/more_fwwd.css">
	<style>
		
		.user{position: absolute;top:-0px;right:30px;}
	</style>
<include file="./application/Lianbao_PC/View/simplebootx/Index/index_header.html"/>

    <div class="wangdian move">
        <div class="wmain">
            <div class="user_login">
                <h1>服务网点<span>| Service outlets</span><strong><b>有家电的地方，就有驰达家维 </strong></h1>
                <div class="pages">
                    <div>
                        <foreach name="list" item="vo">
                            {$vo.post_content}
                        </foreach>
                    </div>

                    <!-- 内容 -->
                </div>

            </div>

        </div>
    </div>
<script src="__PUBLIC__/Lianbao_PC/address/js/jquery.js"></script>
<script src="__PUBLIC__/Lianbao_PC/address/js/bootstrap.js"></script>
<script src="__PUBLIC__/Lianbao_PC/address/js/city-picker.data.js"></script>
<script src="__PUBLIC__/Lianbao_PC/address/js/city-picker.js"></script>
<script src="__PUBLIC__/Lianbao_PC/address/js/main.js"></script>
<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
</body></html>