<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/jeDate/jedate.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/fadancp.css">
<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>


		<div class="user_right">

      <div class="anzhuang">
      <div class="middle_inner_right">
		 <div class="middle_inner_right">
     
        <div class="list_nav_left">
          <ul>
            <li class=""><a href="{:U('Lianbao_PC/MyWorkOrder/product_index')}">产品列表</a></li>
            <li class="specail"><a href="{:U('Lianbao_PC/MyWorkOrder/brand_list_index')}">品牌列表</a></li>

          </ul>
          <p><a href="{:U('Lianbao_PC/MyWorkOrder/add_brand_index')}" class="add_pro">添加品牌</a></p>
        </div>
        <form action="{:U('Lianbao_PC/MyWorkOrder/brand_list_index')}" method="post">
          <div class="input_box"><span>时间：</span><span>
            <input id="cal1" class="input_width get_time" name="start_time" value="{$time.start_time|date="Y-m-d",###}" type="text">
            </span><span>&nbsp;至：</span><span>
            <input id="cal2" class="input_width get_time" name="end_time" value="{$time.end_time|date="Y-m-d",###}" type="text">
            </span><span>&nbsp;&nbsp;
            <input name="filter" class="input_width write_title" placeholder="请输入标题查询" value="" type="text">
            &nbsp;</span><span>
            <input class="search_but" value="查询" type="submit">
            </span></div> </form>
          <table class="box_line">
            <tbody>
              <tr class="odd">
                <th>编号</th>
                <th>品牌名称</th>
                <th>创建时间</th>
                <th>状态</th>
                <th width="120">操作</th>
              </tr>
			  <foreach name="list" item="vo">
              <tr class="over_odd">
                <td>{$vo.brand_number}</td>
                <td>{$vo.brand}</td>
                <td>{$vo.create_time|date='Y-m-d',###}</td>
                <td>{$vo.brand_status}</td>
                <td><a href="{:U('Lianbao_PC/MyWorkOrder/brand_delete',array('id'=>$vo['brand_number']))}" class="quick delband" data="7395" title_info="{$vo.brand}">删除</a></td>
              </tr>
			  </foreach>
            </tbody>
          </table>
          <div class="page2">{$page}
            <input name="cur_page" value="1" type="hidden">
          </div>
       
      </div>
      <!-----------------------------middle_inner_right end------------------></div>
  </div>
  
</div>
<!-- ------------------购买服务end------------------- -->
<div class="loading-modal" style="display: none;">
  <div class="loading-con"><img src="myloading.gif">
    <p>正在加载</p>
  </div>
</div>
<div id="lhgcalendar" class="lhgcal" style="display: none;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td class="lhgcal_leftTop"></td>
        <td class="lhgcal_top"></td>
        <td class="lhgcal_rightTop"></td>
      </tr>
      <tr>
        <td class="lhgcal_left"></td>
        <td><div class="lhgcal_head">
            <div id="lhgPreYear" class="lhgcal_head_preyear"><a href="###"></a></div>
            <div class="lhgcal_head_premonth"><a id="lhgPreMonth" href="###"></a></div>
            <div class="lhgcal_head_year">
              <input value="" id="lhgYearBox">
              年</div>
            <div class="lhgcal_head_month">
              <input value="" id="lhgMonthBox">
              月</div>
            <div class="lhgcal_head_nextyear"><a id="lhgNextYear" href="###"></a></div>
            <div class="lhgcal_head_nextmonth"><a id="lhgNextMonth" href="###"></a></div>
          </div>
          <div class="lhgcal_body">
            <table border="0" cellpadding="0" cellspacing="1" width="100%">
              <thead>
                <tr>
                  <td>日</td>
                  <td>一</td>
                  <td>二</td>
                  <td>三</td>
                  <td>四</td>
                  <td>五</td>
                  <td>六</td>
                </tr>
              </thead>
              <tbody id="lhgDayBox">
              </tbody>
            </table>
          </div>
          <div class="lhgcal_foot">
            <div class="lhgcal_foot_button"><a id="lhgTodayBox" href="###">今天</a></div>
            <div class="lhgcal_foot_button"><a id="lhgDelBox" href="###">清空</a></div>
            <div id="lhgDateBox" class="lhgcal_foot_date">
              <input value="" id="lhgHourBox">
              :
              <input value="" id="lhgMinuteBox">
              :
              <input value="" id="lhgSecondBox">
            </div>
          </div></td>
        <td class="lhgcal_right"></td>
      </tr>
      <tr>
        <td class="lhgcal_leftBottom"></td>
        <td class="lhgcal_bottom"></td>
        <td class="lhgcal_rightBottom"></td>
      </tr>
    </tbody>
  </table>
</div>


		</div>
	</div>
</div>   
   
<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
<script>
  $('#e_e').addClass('hve');
</script>
<script type="text/javascript">
	jeDate({
		dateCell:"#cal1",//isinitVal:true,
		format:"YYYY-MM-DD",
		isTime:true, //isClear:false,
		isinitVal:false,	
	
	})
	jeDate({
		dateCell:"#cal2",//isinitVal:true,
		format:"YYYY-MM-DD",
		isTime:true, //isClear:false,
		isinitVal:false,
	})
</script>

</body></html>