<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>
		<div class="user_right">
				
				<div class="gongdang">
					<li class="d1"><a href="{:U('Lianbao_PC/PublishWorkOrder/install_index')}"><img src="__PUBLIC__/Lianbao_PC/images/wx_1.png" /></a><p>上门安装单</p></li>
					<li class="d2"><a href="{:U('Lianbao_PC/PublishWorkOrder/repair_index')}"><img src="__PUBLIC__/Lianbao_PC/images/wx_2.png" /></a><p>上门维修单</p></li>
					<li class="d3"><a href="{:U('Lianbao_PC/PublishWorkOrder/send_repair_index')}"><img src="__PUBLIC__/Lianbao_PC/images/wx_3.png" /></a><p>客户送修单</p></li>
				</div>
		</div>
	</div>
</div>   
   
<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>

<script>
	$('#b_b').addClass('hve');
</script>
</body></html>