
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/font-awesome.css">
<script type="text/javascript" src="__PUBLIC__/Service/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Service/js/jquery.layer.js"></script>
<style>
	#Mychengyuan{ background: #860404;
	}
</style>
<include file="./public/Service/Sheader.html"/>

	<div class="user_right">
		<div class="postian"><p>账号设置＞<a href="index.html">基本信息</a></p></div>
		<div class="basic">
			<div class="bas_nav">
				<li><a href="{:U('Lianbao_PC/SMember/index')}">直属成员</a></li>
				<li><a href="{:U('Lianbao_PC/SMember/fumember')}">附属成员</a></li>
				<li class="hove"><a href="{:U('Lianbao_PC/SMember/apply')}">申请成员</a></li>
			</div>
			<div class="bas_apply">
				<!--<h1>成员申请</h1>-->
				<foreach name="zhishu_repairer" item="vo">
				<li>
					<div class="apply_top">
						<div class="apply_lt"><img src="{$vo.id_card_picture_1}" /></div>
						<div class="apply_rt">
							<h4>{$vo.real_name}</h4>
							<p>{$vo.phone} <span><a href="{:U('Lianbao_PC/SMember/apply_show',array('user_id'=>$vo['user_id']))}"><i class="fa fa-file-text-o"></i>查看详情</a></span></p>
						</div>
					</div>
					<input type="hidden" value="{$vo.user_id}" id="user_id">
					<div class="apply_dow">
						<p>服务类型：
							<foreach name="vo.service" item="vo">
								<span>{$vo.service_pinlei}</span>
							</foreach>
						</p>
						<h1><a href="javascript:;" id="agree_no">不同意</a><a class="agree" href="javascript:;" id="agree_ok">同意</a></h1>
					</div>
				</li>
				</foreach>
			</div>
		</div>
	</div>
</div>


<include file="./public/Service/Sfooter.html"/>

<script>
	var user = $('#user_id').val();
	var action = "{:U('Lianbao_PC/SMember/agree_apply')}";
	var z_action = "{:U('Lianbao_PC/SMember/not_agree_apply')}";
$('#agree_ok').on('click', function(){
	$.post(action,{user_id:user},function(data){
		if(data==1){
			layer.msg('对方已成为您的附属成员！');window.location.href="{:U('Lianbao_PC/SMember/apply')}";
		}
	})
});

$('#agree_no').on('click', function(){
	$.post(z_action,{user_id:user},function(data){
		if(data==1){
			layer.msg('已驳回对方申请！');window.location.href="{:U('Lianbao_PC/SMember/apply')}";
		}
	})

});
</script>
</body></html>