
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/font-awesome.css">
<style>
	#Mychengyuan{ background: #860404;
	}
</style>
<include file="./public/Service/Sheader.html"/>

	<div class="user_right">
		<div class="postian"><p>我的成员＞<a>直属成员</a></p></div>
		<div class="basic">
			
			<div class="bas_member">
				<div class="singular">
					<li><h1><i class="fa fa-calendar"></i>累计单量：<b><span>{$repairer.order_count}</span>单</b></h1></li>
					<li><h1><i class="fa fa-calendar"></i>累计金额：<b><span>{$repairer.all_money}</span>元</b></h1></li>
					<li><h1><i class="fa fa-calendar"></i>累计抽成：<b><span>{$repairer.service_coucheng}</span>元</b></h1></li>
				</div>
				<div class="bas_taking">

					<foreach name="list" item="vo">
						<li>
							<div class="taling_top">
								<img src="__PUBLIC__/Service/images/xiu.png" /><span>{$vo.pro_name}</span><span>价格:{$vo.pro_price} </span>
								<span>订单号：{$vo.order_number}</span><span><a href="{:U('Lianbao_PC/SMyOrder/leaving_message',array('order_number'=>$vo['order_number']))}">留言</a></span>
								<b><a href="{$vo.str}"><i class="fa fa-file-text-o"></i>查看详情</a></a></b>
							</div>
							<p><b>{$vo.leixin}</b>
							   <span>{$vo.user_name}</br>{$vo.user_phone}</span><span>{$vo.user_city}</span><span>执行人</br>{$vo.user_name}</span></p>
						</li>
					</foreach>
				</div>
			{$page}
			</div>
		</div>
	</div>
</div>


<include file="./public/Service/Sfooter.html"/>

</body></html>