<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"> 
<title>驰达家维</title>
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/more_fwwd.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/more_news.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/wyjd.css">
<include file="./application/Lianbao_PC/View/simplebootx/Index/index_header.html"/>
<div class="wmain wman">

         <div class="content">
            {$list.post_content}
         </div>
    </div>
  <!-- 内容 --> 

</div>   
</div> 

<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
</body></html>