<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
	<title>驰达家维</title>

	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css"></head>

<style>
	span.current{margin-right:10px}
</style>
<include file="./application/Lianbao_PC/View/simplebootx/Index/header.html"/>
<div class="wmain">
	<div class="user_login">
		<h1>用户注册协议<span>| Agreement</span><strong><b><a href="login.html">会员登录</a></b>已有<i>3500</i>位用户入驻了驰达家维 </strong></h1>
		<div class="agreement">
			<h2>用户注册协议</h2>
			<p>根据我国《合同法》、《民法通则》等相关法律法规的规定，本着自由、平等、诚实信用、甲乙双 方互利共赢的原则，现就产品售后服务的相关事宜，达成如下协议：</p>
			<h6>一、乙方已经充分理解甲方的服务内容、资费标准和结算方式，认可并接受甲方提供的服务。</h6>
			<h6>二、服务内容：</h6>
			<p>1、甲方为乙方提供产品的安装及维修售后服务。</p>
			<p>2、甲方提供电脑PC端及手机APP4.0工单系统，作为乙方与甲方合作的售后网点的对接工具。</p>
			<p>3、甲方客服负责乙方的工单咨询、技术咨询、工单跟进及客户投诉处理。</p>
			<h6>三、用户资料</h6>
			<p>1、甲方为乙方提供的产品售后服务，在符合双方约定的合同内和业务流程的前提下由甲方自行安排。如双方有临时性或突发特殊情况变更的，双方应当相互协助配合。</p>
			<p>2、双方达成合作后，甲方为乙方在工单系统开通工单消费充值账户，乙方可以在后台自动充值及查询工单消费明细，甲方客户类型分为零门槛客户及保证金客户。新开通账户的客户均默认为零门槛客户，不需缴纳保证金。若零门槛客户想要转成保证金客户，可在后台“我的钱包”-“账户总额”中缴纳保证金栏目充值保证金1000元(零门槛客户维修工单将按照工单所涉产品“大修费用”的金额+20元预冻结维护费；保证金客户将按照过往工单平均值预冻结维修单金额; 工单完结后最终扣费金额以实际消费为准)。</p>
			<p>3、账户开通后，乙方在驰达家维厂商后台系统添加产品品类，根据需求可选择下安装单或维修单，同一用户同一地址系统支持多台或套餐下单功能（保证金客户可享受批量下单功能）。</p>
			<p>4、甲方售后网点在与用户约定的时间内上门完成安装或维修，在工单系统完结工单，乙方可以在驰达家维后台系统可查看工单的服务状态及服务质量。</p>
		</div>
	</div>
</div>

<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
</body></html>