<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/fadancp.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/goumaidl.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiaofeimx.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/chongzhi.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiadanbd.css">


<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>

		<div class="user_right">

        {$list.content}

	</div>
</div>   
</div>
</div>

<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>

<script>
    $('#k_k').addClass('hve');
</script>
</body></html>