<link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/Lianbao_PC/favicon.ico"/>
<script type="text/javascript">
	$(function(){
		$("html,body").stop().scrollTop("0");
		})
</script></head>
<body>
<!--顶部-->

<div class="top">
	<div class="cent">
		<div class="logo"><img src="__PUBLIC__/Lianbao_PC/images/logo.png" /></div>
		<div class="nav"><div class="menu">
			<li><a href="{:U('Lianbao_PC/Index/index')}">首页</a></li>
			<li><a href="{:U('Lianbao_PC/Advantage/index')}">平台优势</a></li>
			<li><a href="{:U('Lianbao_PC/Userindex/userindex')}">我要发单</a></li>
			<li><a href="{:U('Lianbao_PC/AccessOrder/index')}">我要接单</a></li>
			<li><a href="{:U('Lianbao_PC/NoviceGuide/index')}">新手指引</a></li>
			<li><a href="#">更多</a></li>
		</div></div>
		<div class="user">
		{$str}
		</div>
	</div>   
</div>    	

<div class="subnav">
	  <div class="subnav_bg"></div>
	  <div class="subnav_con" style="overflow: hidden; height: 0px;">
	  <div class="cent">
		<ul class="sub1" style="display: none;">
		</ul> 
		<ul class="sub2" style="display: none;">
		</ul>
		<ul class="sub3" style="display: none;">
	    </ul>
	    <ul class="sub4" style="display: none;">
	    </ul>
	    <ul class="sub5" style="display: none;">
	    </ul>
	    <ul class="sub6" style="display: none;">
	   		<li class="de"><a href="{:U('Lianbao_PC/News/index')}">行业资讯</a></li>
		    <!--<li class="de"><a href="{:U('Lianbao_PC/SetShop/index')}">入驻商家</a></li>   -->
		    <li class="de"><a href="{:U('Lianbao_PC/ServicePlace/index')}">服务网点</a></li>
		    <li class="de"><a href="{:U('Lianbao_PC/TradeShow/index')}">行业展会</a></li>  
		    <li class="de"><a href="{:U('Lianbao_PC/Recruit/index')}">维修人才</a></li>  
	   </ul>
  </div>
</div>
</div>
   