<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"> 
<title>驰达家维</title>
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/more_fwwd.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/more_news.css">
<style>
span.current{margin-right:10px}
</style>
 
<include file="./application/Lianbao_PC/View/simplebootx/Index/index_header.html"/>
<div class="wangdian move"> 
  <div class="wmain">
  	<div class="user_login">
  		<h1>入驻商家<span>| Settled merchants</span><strong>有家电的地方，就有驰达家维 </strong></h1>
  		

      <div class="content container">
        <div class="up fix">
         
        </div>
        <ul class="list">
          <foreach name="list" item="vo">
            <li class="first fix">
              <div class="pic"><a href="{:U('Lianbao_PC/SetShop/setshop_detail',array('id'=>$vo['id']))}"class="preview"><img src="{$vo.smeta}"></a></div>
              <div class="con">
                <h2><a href="{:U('Lianbao_PC/SetShop/setshop_detail',array('id'=>$vo['id']))}}" title="{$vo.post_title} ">{$vo.post_title}</a></h2>
                <p class="res-hidden">{$vo.post_title}</p>
                <p class="res-view">{$vo.post_title}</p>
                <h3 class="fix"> <a href="{:U('Lianbao_PC/SetShop/setshop_detail',array('id'=>$vo['id']))}}" class="more">查看详细&gt;&gt;</a> </h3>
              </div>
            </li>
        	</foreach>	  
        </ul>
        <div class="pages">
          <ol class="fix">
            <li><span class="pageinfo">{$page}</span></li>
          </ol>
        </div>
    <!-- 内容 --> 
  </div>

  </div>

</div>   
</div> 

<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
   
</body></html>