<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="__PUBLIC__/Lianbao_PC/js/jquery.js"></script>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/comm.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/user.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/fadancp.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/goumaidl.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiaofeimx.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/set.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/chongzhi.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/xiadanbd.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/tongzhizx.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Lianbao_PC/css/tongzhizx_xq.css">

<include file="./application/Lianbao_PC/View/simplebootx/Index/order_header.html"/>
		<div class="user_right">
		<div class="anzhuang">
         <div class="middle_inner_right">
       
       
       <div class="list_nav_left">
          <ul>
            <li class="  specail "><a href="#">消息管理列表</a></li>
          </ul>
          <p></p>
        </div>
        <div class="news_show">
          <div class="news_show_inner">
            <div class="news_title">{$list.title}</div>
            <div class="news_passege">

				{$list.content}
			</div>
          </div>
        </div>
        </div>
		
      </div>
			
		</div>
	</div>
</div>   
</div>
</div>
<include file="./application/Lianbao_PC/View/simplebootx/Index/footer.html"/>
<script src="__PUBLIC__/Lianbao_PC/js/index.js"></script>
<script>
    $('#s_s').addClass('hve');
</script>
</body></html>