
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/main.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/index.css">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/Service/css/font-awesome.css">
<script type="text/javascript" src="__PUBLIC__/Service/js/layer.js"></script>
<style>
	#Myinform{ background: #860404;
	}
</style>
<include file="./public/Service/Sheader.html"/>
	
	<div class="user_right">
		<div class="postian"><p>通知管理＞<a>我的消息</a></p></div>
		<div class="basic">
			<div class="news_list">
				
				<div class="list_show">
					{$list.content}
				</div>
			
			</div>
		</div>
	</div>
</div>

<include file="./public/Service/Sfooter.html"/>

</body>
</html>